@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DessauProDrei';
  src: url('DessauProDrei.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --theme: wheat;
  --bg : #333646;
  --secondary : skyblue ;
  --bg-secondary : #1b1b1b;
}


body{
  background: var(--bg);

}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

h1{
  font-family: 'DessauProDrei';
}

body::-webkit-scrollbar ,div::-webkit-scrollbar,
section::-webkit-scrollbar {
  /* height: 10px; */
  background: darkgray;
  cursor: pointer;
  border-radius: 100px;
  width: 10px;
}

section::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}
